*{
    font-family: 'Open Sans', sans-serif;
}
.drop-Mascota{

    width: 85%;
    height:90%;
    margin: 20px auto;
    color: rgb(12, 3, 37);
    background-color: lightgray;
    box-shadow: 20px 20px 30px black;
    border-radius: 5px; 
    
}

.header-Mascotas{
    
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.conteiner-list{

    margin-top: 3%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    overflow-y: scroll;
    height: 70%;
    width: 90%;
}

.mascotita{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px;
    height: 80px;
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;   
    border-radius: 5px;
    background-color: rgb(231, 160, 7);
    box-shadow: 10px 4px 20px rgb(14, 12, 9);
    font-size: 25px;
}

.nombre{
    width: 100px;
}

.nombre{

    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
.header-Mascotas{
    font-size: 40px;
    color:brown;
}