body{
    background-image: url(../img/patio\ mujer\ hijo\ perro.jpeg);
    background-repeat:no-repeat;
    background-size: 100%;
    color:white;

}
.cabecera{
    height:15vh;
    display: flex;
    flex-flow: row wrap;
}

.contenedora-gral{
    padding-top: 2%;
    display: flex;
    flex-flow: row wrap;
    height: 70vh;
    width: 80vw;    
    justify-content:space-around;
    margin:0 auto;

}


.contenedora-eleccion{
    height: 80%;
    color: black;
    font-size: larger;
    border-radius: 3%;
    background-color: lightgray;
    width: 30%;
    max-width: 30%;
    opacity: 90%;
    box-shadow: 20px 20px 10px black;
    
}

.contenedora-titulo{
    padding-top:20px;
    position: relative;
    height: 20%;
    max-height: 30%;
    place-items: center;
    display:flex;
    justify-content: center;
   
}

.contenedora-texto{
    
    height: 60%;
    max-height:60%;
    place-items: center;
    display:flex;
    justify-content: center;
    
     
}

.texto{
    text-align: center;
    text-align:left;
    margin:10px;
    font-size: 15px;
    font-family: sans-serif;
}

.contenedora-boton{
    height: 15%;
    place-items: center;
    display:flex;
    justify-content: center;
}
ul{
    list-style: none;
}
li::before{
    content:'';
    display: inline-block;
    width:35px;
    height:35px;
    background-image:url(../img/petsuperhero-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

.top-footer{
    height:10vh;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}