
.titulo{
    text-align: center;
    margin-top: 15px;

}
.contenedora-gral{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.contenedora-eleccion{
    color:rgb(42, 165, 124);
    height: 60%;
    width: 40%;
    background-color: lightgray;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top:11%;
    overflow: hidden; 
    
}

.contenedora-eleccion:hover{
    box-shadow: 10px 10px 40px black;
    color: rgb(211, 132, 42);
    font-size: 25px;
}

img:hover{
    transform: scale(1.2);
    transition: .5s ease;
}
html{
    cursor:url(../assets/img/cursorPaw.png),
    auto;
}

a:hover{
    cursor:url(../assets/img/cursorPawhover.png),
    auto;
}
