.listasolicitudes{
    width: 80%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 93%;
    margin: 2% auto auto 10%;

       
}
.solicitud{
    width: 93%;
    height: 55px;
    background-color: rgb(231, 160, 7);
    border: 1px solid black;
    border-radius: 5px;
    display:flex;
    font-size: 13px;
    text-align: center;
    align-items: center;
    margin-left: 3.6% 
}
.rotulo{
    
    width: 91%;
    height: 50px;
    background-color: rgb(90, 135, 103);
    box-shadow: 10px 4px 20px rgb(14, 12, 9);
    border: 1px solid black;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    margin-bottom: 1.75%;
    margin-left: 3.5%;
    padding-left: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}

.scrolleable{
    overflow-y: scroll;
    height: 70%;
}
.titulo{
    justify-content: center;
    text-align: center;
    align-items: center;
}
h2{
    color: brown;
}

img:hover{
    transform: scale(1.2);
    transition: .5s ease;
}