.listasolicitudes{
    width: 80%;
    background-color: lightgray;
    box-shadow: 20px 20px 30px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 0 auto auto 20px;
       
}
.solicitud{
    width: 90%;
    height: 100px;
    background-color: rgb(231, 160, 7);
    box-shadow: 20px 20px 30px -5px rgb(58, 29, 1);
    border-radius: 5px;
    display:flex;
    margin: 10px auto;    
}
.rotulo{
    width: 90%;
    height: 60px;
    background-color: rgb(90, 135, 103);
    box-shadow: 20px 20px 30px -5px rgb(58, 29, 1);
    border-radius: 5px;
    display:flex;
    margin: 10px auto;

}
.campo{
    
    margin: auto;
}
.scrolleable{
    overflow-y: scroll;
}
.titulo{
    justify-content: center;
    text-align: center;
    align-items: center;
}
h2{
    color: brown;
}