.contendora-chat{
    width: 70%;
    height:90%;
    background-color: lightgray;
    box-shadow: 10px 10px 20px black;
    border-radius: 5px;
    margin-left: 20px;
}

.lista-mensajes{
    display: flex;
    flex-direction: column;
    height:60%;
    margin: 0 auto auto 20px;
    overflow-y: scroll;   
}
.conenedora-mensaje{
    border-radius: 7px;
    background-color: rgb(245, 243, 242);
    border:1px solid gray;
    height: 200px;
    width: 400px;
    margin-top:20px;
}
.contenedora-reply{
    width: auto;
    height: 200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.reply{
    border:1px solid black;
    background-color: white;
    border-radius: 7px;
    height:60% ;
    width: 70%;
    margin: auto;
}
.Go{
    height:60%;
    width:150px;
    border:1px solid black;
    border-radius: 7px;
}
