.contendora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 600px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.76);
    border-radius: 5px;
    background-color: lightgray;
    margin:20px auto auto 20px;
    color: brown;
    margin: 0 auto;
    margin-top: 8%;
}


form{
    height:390px; 
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.destinatario{
    width: 1px;
    height: 1px;
    background-color: lightgray;
    border: none;

}
textarea{
    width: 400px;
    height: 150px;
    border-radius:5px;
}
.boton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    height: 70px;
      
}

.reply{

    font-size: 20px;
}
.submit{
    border:none;
    background-color: lightgray;
}