.plantilla-Mascota{
    height:97%;
    width:85%;
    margin: auto;
    margin-top: 1%;
    border-radius: 5px;
    background-color: rgba(211,211,211);
    border-radius: 10px;
    border: 1px solid black;
    display:grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 50% auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    justify-content: stretch;

    
}

.pic{
    height:180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: -2px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.cont2{
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    justify-content: space-around;
}

.atributo{
    text-align: left;
    color:rgb(18, 18, 133);
    
}
.text{
    text-align: start;
    margin-left:-100px;
    color: brown;
}
.vacunacion{
    text-align: center;
    color:rgb(18, 18, 133);
    font-size: 25px;
    
}

.libreta{
    height: 180px;
    width: 300px;
}
.cont3 figure{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
    overflow: hidden;
    border-radius: 5px;
    transition: all 500ms ease-out;

}
.cont3 figure:hover{
    transform: scale(1.5);
    
}
.cont4{
    display:flex;
    justify-content: center;
    align-items: center;
     
}
