body {
  background-image: url(../assets/img/BackReg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  align-items: center;
}

.contenedora {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

h4 {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  color: black;
  margin-bottom: 20px;
  font-weight: 500;
}

p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: brown;
  font-weight: 550;
  margin-bottom: 2px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}

.datoregistro {

  margin-bottom: 15px;
}

form {
  border-radius: 5px;
  height: 550px;
  background-color: lightgray;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 10px 10px 10px rgb(122, 122, 122);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.tipo {
  display: flex;
  flex-direction: row;
}

textarea {
  width: 200px;
}

input {
  font-size: 20px;
  margin: 5px;
  color: black;
  font-size: 15px;
}


.horarios {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.disponibilidad {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
}

.ultimos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.domingo {
  grid-column: 1 / span 3;
}

.boton {
  margin-top: 27px;
  width: 200px;
  height: 100px;
  align-items: center;
  text-align: center;
}

.submit {
  border: none;
  background-color: lightgray;
}

.separador {
  height: 170px;
}


html {
  cursor: url(../assets/img/cursorPaw.png), auto;
}

a:hover {
  cursor: url(../assets/img/cursorPawhover.png), auto;
}

input::placeholder {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

#fecha {

  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: brown;
  font-weight: 550;
  margin-bottom: 0px;

}

img:hover {
  transform: scale(1.2);
  transition: .5s ease;
}