.contenedora-solicitud{
    height:95%;
    width:65%;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 1.5%;
    color: brown;
}

.contenedora-cabecera{
    height:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

}

.contenedora-datos{
    
    display: flex;
    justify-content: space-around;
    height:70%;
    text-align: center;
    
}
.img-perfil{
    
    width: 120px;
    height:120px;
    border-radius: 50%;
    margin-top: 15px;
    
}
.nombre-perfil{
    width: 50%;
    height:100%;
    padding-top: 60px;
   
    
}
.submit{
    border:none;
    background-color: rgb(211,211,211);

}
.contenedora-inputs{
    margin:40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
input{
    text-align: center;
    margin:5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: black;
}
select{
    margin:5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: black;
    text-align: center;

}

.boton{
    margin-top: 20px;
    grid-column: 1/3;
}

.cabecera-dato{

    font-size: 20px;
    color: #721C24;
    margin-top: 10px;
    margin-bottom: 2px;  
}

.dato-confirmacion{

    border: 1px red solid;
    border-radius: 5px;
    background-color: #D4EDDA;
    color: #155724;
    border: solid #C3E6CB 1px;
    margin-bottom: 15px;
    
    
}
.foto-perfil{
    width: 130px;
    height:130px;
    border-radius: 50%;
}

img:hover{
    transform: scale(1.2);
    transition: .5s ease;
}

.contendora-confirmacion{

    margin-top: 22px;
}