.contenedora-solicitud{
    height:90%;
    width:80%;
    display:flex;
    flex-direction: column;
    border:1px solid black;
    border-radius: 3%;
    background-color: rgb(211,211,211);
    box-shadow: 20px 20px 30px black;
}

.contenedora-cabecera{
    height:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

}
.contenedora-fechas{
    height:70%;
    border:1px solid black;
    
}
.img-perfil{
    width: 18%;
    height:100%;
    border:4px solid rgb(110, 30, 30);
    border-radius: 50%;
    margin-left: 50px;
    
}
.nombre-perfil{
    width: 50%;
    height:100%;
    background-color: aqua;
    
}
.submit{
    border:none;
    background-color: rgb(211,211,211);

}