.contenedora-msjs{
    background-color: lightgray;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    margin: 0 auto;
    margin-top: 2%;
    
}
.bandeja-entrada{
    overflow-y: scroll;
    height:75%;
    width: 80%;
    margin-top: 20px;
    box-shadow: 10px 4px 20px rgb(14, 12, 9);
    
}
.aesthetic{
    border-radius: 5px;
    border: 1px solid black;
}
.row{
    width: 80%;
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px;
    
}
.inbox{
    width: 96%;
}
.rotulo{
    background-color: rgb(236, 157, 10);
}

.col{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.user{
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}

.relleno{
    width:200px;
    margin-left: 50px;
}
.borrar{
    padding-right:20px;

}

.title{

    font-size: 30px;
    color:brown;
    margin-top: 20px;

}
.inbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img:hover{
    transform: scale(1.2);
    transition: .5s ease;
}

