.drop-Mascota{

    width: 85%;
    height:90%;
    margin: 20px auto;
    color: rgb(12, 3, 37);
    background-color: lightgray;
    box-shadow: 20px 20px 30px black;
    border-radius: 5px; 
    
}

.header-Mascotas{
    
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.conteiner-list{

    margin-top: 3%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    overflow-y: scroll;
    height: 75%;
}

.mascotita{

    padding: 7px;
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;   
    border-radius: 5px;
    background-color: rgb(231, 160, 7);
    box-shadow: 10px 4px 20px rgb(14, 12, 9);
}

.img-Mascota{


    border:3px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;

}

.nombre{

    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
