.plantilla-guardian{
    height:90%;
    width:80%;
    margin:10px auto;
    border-radius: 3%;
    background-color: rgb(211,211,211);
    box-shadow: 20px 20px 30px black;
    display:grid;
    grid-template-columns: auto auto;
}
.cont{
    border:1px solid black;
    align-items: center;
    justify-content: center;

}
.imagen{
    display: flex;
    flex-direction: row;
    align-items: center;

    
}
.img-perfil{
    width: 36%;
    height:100%;
    border:1px solid black;
    border-radius: 50%;
    
         
}
.nombre-perfil{
    width: 50%;
    height:100%;
    background-color: aqua;
    
}